.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

.nav-dark {
  background-color: #141414;
}

.navbar-left .logo {
  width: 100px;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: 20px;
}

.nav-menu li {
  color: #fff;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 20px;
  cursor: pointer;
}

.children {
  color: #fff;
}

.navbar-profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-img {
  width: 30px;
  border-radius: 50%;
}

.caret-icon {
  width: 10px;
  margin-left: 5px;
}

.dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #141414;
  padding: 10px;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.dropdown .signout {
  color: #fff;
  cursor: pointer;
}

.navbar-profile:hover .dropdown {
  display: flex;
}

@media (max-width:800px) {
  .navbar {
    padding: 20px 4%;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar img {
    height: 25px;
  }
}

@media (max-width:500px) {
    .navbar img {
      height: 20px;
    }
    .navbar-right {
      gap: 10px;
    }
}
